<div class="burger">
	
	<button type = "btn" class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}EAT!{{else}}Order again{{/if}}
	</button>
	{{burger_name}}

	<!--<button class="delete-burger" data-id="{{this.id}}">Delete</button>-->
</div>
